basePath: /v1
definitions:
  dto.AccountCreatedResponse:
    properties:
      id:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
    type: object
  dto.AccountResponse:
    properties:
      balance:
        example: 19999
        type: integer
      createdAt:
        example: "2025-12-23T09:19:23.458426Z"
        type: string
      id:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
      updatedAt:
        example: "2025-12-23T09:19:23.458426Z"
        type: string
      userId:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
    type: object
  dto.ErrorResponse:
    properties:
      error:
        example: 'account not found: id=550e8400-e29b-41d4-a716-446655440000'
        type: string
    type: object
  dto.TopUpReq:
    properties:
      amount:
        example: 9999
        type: integer
    type: object
info:
  contact: {}
  description: Payment microservice
  title: Payment Service API
  version: "1.0"
paths:
  /accounts:
    post:
      consumes:
      - application/json
      description: Creates a new account for user unless they already have one
      parameters:
      - description: User ID (UUID)
        example: '"123e4567-e89b-12d3-a456-426614174000"'
        in: header
        name: X-User-ID
        required: true
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/dto.AccountCreatedResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Create a new account
      tags:
      - accounts
  /accounts/{id}:
    get:
      consumes:
      - application/json
      description: Returns account by UUID
      parameters:
      - description: User ID (UUID)
        example: '"123e4567-e89b-12d3-a456-426614174000"'
        in: header
        name: X-User-ID
        required: true
        type: string
      - description: Account ID (UUID)
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.AccountResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Get account by id
      tags:
      - accounts
    patch:
      consumes:
      - application/json
      description: Add given amount to account's balance (if it's user's)
      parameters:
      - description: User ID (UUID)
        example: '"123e4567-e89b-12d3-a456-426614174000"'
        in: header
        name: X-User-ID
        required: true
        type: string
      - description: Account ID (UUID)
        in: path
        name: id
        required: true
        type: string
      - description: Request to top up an account
        in: body
        name: top_up_request
        required: true
        schema:
          $ref: '#/definitions/dto.TopUpReq'
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Top up the account
      tags:
      - accounts
schemes:
- http
- https
swagger: "2.0"
