basePath: /v1
definitions:
  dto.ErrorResponse:
    properties:
      error:
        example: 'order not found: id=550e8400-e29b-41d4-a716-446655440000'
        type: string
    type: object
  dto.OrderResponse:
    properties:
      UpdatedAt:
        example: "2020-09-29T10:12:10+09:00"
        type: string
      amount:
        example: 19999
        type: integer
      createdAt:
        example: "2020-09-29T10:10:10+09:00"
        type: string
      id:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
      status:
        allOf:
        - $ref: '#/definitions/entities.OrderStatus'
        example: PENDING
      userId:
        example: 550e8400-e29b-41d4-a716-446655440000
        type: string
    type: object
  entities.OrderStatus:
    enum:
    - PENDING
    - PAID
    - FAILED
    type: string
    x-enum-varnames:
    - OrderPending
    - OrderPaid
    - OrderFailed
info:
  contact: {}
  description: Order microservice
  title: Order Service API
  version: "1.0"
paths:
  /orders/{id}:
    get:
      consumes:
      - application/json
      description: Returns order by UUID
      parameters:
      - description: User ID (UUID)
        in: header
        name: X-User-ID
        required: true
        type: string
      - description: Order ID (UUID)
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.OrderResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Get order by id
      tags:
      - orders
schemes:
- http
- https
swagger: "2.0"
